<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää ruokinta</title>
</head>
<body>
    <h1>Lisää ruokinta</h1>
    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/ruokinnat/lisaa}" th:object="${ruokinta}" method="post">
        <label for="ruokintaAika">Ajankohta:</label>
        <input type="date" id="ruokintaAika" th:field="*{ruokintaAika}" required>
        <br>
        <label for="ateria">Ateria:</label>
        <select id="ateria" th:field="*{ateria.ateriaId}" required>
            <option th:each="ateria : ${ateriat}" th:value="${ateria.ateriaId}" th:text="${ateria.ateriaNimi}"></option>
        </select>
        <br>
        <label for="ruoka">Ruoka:</label>
        <select id="ruoka" th:field="*{ruoka.ruokaId}" required>
            <option th:each="ruoka : ${ruoat}" th:value="${ruoka.ruokaId}" th:text="${ruoka.ruokaNimi}"></option>
        </select>
        <br>
        <button type="submit">Lisää</button>
    </form>
</body>
</html>
